@font-face {
  font-family: "Passio";
  src: url("assets/Passio-Graphis.otf") format("opentype");
}

@font-face {
  font-family: "Art-Dystopia II";
  src: url("assets/ArtDystopia II.otf") format("opentype");
}
